{% extends "storypage.html" %} 
{% block main  %}
<script>
  window.scrollTo(0,document.body.scrollHeight);
</script>
<h2>How are you feeling Today ?</h2>
<h2>Let's guess</h2>
<div class="row m-0">
  <div class="col-lg-6">
    <div class="cam" >
      <a href="{% url 'x' %}"><i class="fas fa-random"></i></a>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="cam" >
      <a href="{% url 'index' %}"><i class="fas fa-camera"></i></a>
    </div>
  </div>
</div>
{% endblock %}